#nav-container{
    display: flex;
    color:pink
}
.logo{
    height: 100px;
    width: 100px;
}
.nav-classname{background-color: pink;}

.nav-ul{
    color:white;
    font-size: larger;
    margin-left: 10%;
    border:pink solid 3px;
    width: 300px;
}
.close-button{
    border:solid red 10px;
    width: 80px;
    height: 40px;
}
/* button{
    height: 200px;
} */
/* .launch{
    background-color: pink;

float: left;} */

.me-auto{
    background-color: purple;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    z-index: 4;
    width: 30%;
}
img{
    height:100px ;
    width:160px ;
}


/* .container{
border: orange 5px solid;
} */

.third-nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    /* border: pink solid 9px; */
    justify-content: space-around;
  float:right;
  margin-left:5%;
color: white;
  font-size: 34px;
  font-weight: 700;
    /* flex-direction: row-reverse; */
}
.top-header{
    /* background-color: antiquewhite; */
}
.naver-header{
    /* background-color: aquamarine; */
    background-color: black;

}